 <div class="col-md-12"><h2>Hey! Looks we've got some schools next to you you :)</h2></div>
<%= render 'schools/schools' %> 

<% unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<% end %>
